.user-list {
  margin: 0.5rem;
}

.user-buttons {
  position: relative;
  top: 0.4rem;

  margin-bottom: 1.5rem;
}

.user-btn {
  margin: 0.5rem;
}

.item-btn {
  margin: 0.25rem;
}

.list-btn {
  margin: 0.25rem;
}

.list-title {
  cursor: pointer;
  font-weight: bold;
}

.list-buttons {
  margin-top: 0rem !important;
  margin-bottom: 0.5rem;
}

.user-list-card {
  margin: 0.5rem;
}
